__pycache__/
*.pyc
venv/
node_modules/
dist/
.env
.env.example
RiskAssessor/backend/data/sessions/
RiskAssessor/backend/data/uploads/
RequirementsGenerator/backend/data/sessions/
RequirementsGenerator/backend/data/uploads/


*.txt
*.yml
